*{
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    border: solid 1px red;
}

nav {
    width: 10%;
    border: dotted 2px blue;
}

nav ul, li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
}

.navLink {
    border: solid 1px green;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.mainSection {
    display:flex;
    flex-direction: column;
    width: 80%;
    border: solid 1px black;
    align-items: center;
}

.technologiesUsed, .projectLinks {
    width: 80%;
    padding: 0;
    margin: 3vw auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    border: solid 1px blue;
}

.projectMainImage {
    width: 30%;
}

#heroImage {
    width: 70%;
}