*
{
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #2d2d2d;
    background-color: #0086E6;
}

header {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    top: 0px;
    width: 100vw;
    height: 80px;
    background-color: #002640;
    z-index: 100;
}

.headerTitle {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.headerTitle h1, .headerTitle p {
    margin: 0;
}

.headerTitle h1 {
    font-size: 1.7em;
    line-height: 1em;
}

.headerTitle p {
    font-size: .6em;
    padding: 0;
}

.headerTitle a {
    text-decoration: none;
    color: #fafafa;
}

h1, h2, h3 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

h1, h2 {
    margin-top: 80px;
    line-height: .5em;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
    line-height: .5em;
}

p {
    text-align: justify;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 5%;
}

a { 
    font-size: 1em;
}


/*******************************************/
/*********    Mobile Navigation    *********/
/*********          Menu           *********/
/*******************************************/

/* Button styling */
.menu-toggle {
    display: inline-block;
    padding: 0;
    margin: auto 0;
    font-size: 2em;
    color: #fafafa;
    outline: none;
}

.main-menu {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transform: translate(200px, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.16, 0.77);
    z-index: 999;
    background-color: #002640;
}

.main-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 200px;
    border-top: 1px solid #555;  
}

.main-menu li {
    width: 100%;
    border-bottom: 1px solid #555; 
}
  
.main-menu a {
    display: flex;
    padding: 2em 15px;
    line-height: .8em;
    font-size: 1.2em;
    color: #fafafa;                                    
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
}
  
.main-menu li:hover {
    background: #e21b19;
    text-decoration: none;
}

.main-menu a:focus {
    background: #0095FF; 
}
  
.main-menu .menu-close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2em;
    height:10px;
    padding: 40px;
}

.menu-close a {
    display: inline-block;
}

.main-menu:target { /* switch */
    opacity: 1;
    right: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    box-shadow: 3px 0 12px rgba(0,0,0,.25);
    transition-delay: 1s;
    transform: translate(0px, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.16, 0.77);
}

.main-menu:target .menu-close {
    z-index: 1001;
}

.main-menu:target ul {
    position: relative;
    z-index: 1000;
}

.main-menu:target + .backdrop {
    position: absolute;
    display: block;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0,0,0,.60);
    cursor: default;
    transition-delay: 1s;
    transition: bakground 0.5s cubic-bezier(0.77, 0.2, 0.16, 0.77);
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop {
    position: fixed;
  }
}

/******************/
/*  Main Section  */
/******************/


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px auto 0;
}

.mainSection {
    display:flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
    margin: 0 auto 80px auto;
    align-items: center;
    background-color: #fafafa;
}

.projects, .contact, .resume {
    border-top: 5px solid #e21b19;
}

/* Icons, Images, and other */

.projectMainImage {
    width: 30%;
    margin: 20px auto 50px auto;
}

#heroImage {
    width: 100vw;
}

.technologiesUsed, .projectLinks, .contactLinks {
    width: 100%;
    padding: 0;
    margin: 2em 0 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    height: 100%;
}

.projectlinkButton {
    height: 4em;
    vertical-align: middle;
    position: relative;
}

.projectlinkButton a {
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 1em;
    color:#fafafa;
    text-decoration: none;
    padding: 1em 2em;
    background-color: #002640;
}

.projectlinkButton a:hover {
    background-color: #e21b19;
}

.contactLinks {
    flex-direction: column;
    justify-content: center;
}

.contactlinkButton {
    width: 60vw;
    position: relative;
    margin: 1em auto;
}

.contactlinkButton a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 1.5em;
    padding: 3vw 0;
    font-style: normal;
    color:#fafafa;
    text-decoration: none;
    background-color: #002640;
}

.contactlinkButton a:hover {
    background-color: #e21b19;
}

.contactlinkButton .fab, .contactlinkButton .fas {
    font-size: 1.5em;
    color: #fafafa;
}

.fab, .fas {
    font-size: 3em;
    color: #aaaaaa;
    margin-right: 4vw;
}

#jqueryIcon {
    height: 2.8em;
    stroke: #aaaaaa;
    fill: #aaaaaa;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #002640;
}

footer p {
    font-size: .8em;
    color: #fafafa;
}

/* Small devices (portrait tablets and large phones, 501px and up) */
@media only screen and (min-width: 501px) {

    .cropImage {
        max-height: 90%;
        width: 100vw;
        overflow: hidden;
    }

    .home {
        transform: translateY(-5%);
        z-index: -2;
    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .cropImage {
        height: 800px;
        width: 100vw;
        overflow: hidden;
    }

    .home {
        transform: translateY(-5%);
        z-index: -2;
    }

    .menu-toggle,
    .main-menu .menu-close {
        display: none;
    }
  
    .main-menu {
        position: relative;
        display: block;
        opacity: 1;
        height: 100%;
        overflow: hidden;
        transform: translate(0, 0);    
    }
  
    .main-menu ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: 100px;
        width: auto;
        border: none;
        background: none;
    }
  
    .main-menu a {
        margin: 0;
        color: #fafafa;
        border: 0 !important; /* Remove borders from off-canvas styling */
        height: 100px;
    }
    
    .main-menu li {
        border: none;
        height: 100px;
    }
      
    .main-menu a:hover,
    .main-menu a:focus {
        background: none; /* Remove background from off-canvas styling */
        color: #fafafa;
        text-decoration: none;
    }
  
} 

/* Large devices (laptops/desktops, 950px and up) */
@media only screen and (min-width: 950px) {

    header {
        height: 100px;
    }

    h1, h2 {
        margin-top: 100px;
    }

    .cropImage {
        max-height: 1000px;
        width: 100vw;
        overflow: hidden;
    }

    .home {
        transform: translateY(-5%);
        z-index: -2;
    }

    #heroImage {
        transform: translateY(-5%);
        z-index: -2;
    }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {

    header, main {
        max-width: 1000px;
    }

    .cropImage 
     {
        max-height: 750px;
     }

    header {
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .home {
        transform: translateY(-8%);
    }

    .mainSection {
        width: 1000px;
    }

    .mainSection p {
        padding: 0 100px;
    }

    #heroImage {
        display: flex;
        transform: translateY(-8%);
        width: 1000px;
        text-align: center;
        margin: 0 auto;
    }
    footer {
        display: flex;
        width: 1000px;
        text-align: center;
        margin: 0 auto;
    }

}